.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  width: 100%;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000;
  /*background: url("./images/log2.jpg");*/
  background-color: white;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

.header_new {
  width: 100%;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000;
  background: white;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

.header_title {
  font-family: "Copperplate", fantasy;
  font-size: 40px;
  font-weight: bolder;
  color: Black;
  margin-left: 690px;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search {
  position: relative;
}

.search button,
.search span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search span {
  left: 20px;
  opacity: 0.5;
  margin-top: 1px;
}

.search input {
  box-sizing: border-box;
  display: block;
  width: 480px;
  height: 70px;
  border-radius: 5px;
  padding: 0 50px 0 45px;
  font-size: 16px;
  outline: none;
  border: 2px solid #b8b4b6;
  background: white;
}

.city {
  box-sizing: border-box;
  display: block;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 16px;
  outline: none;
  background: white;
}
